PORT=5000
ADMIN_USER_ID=admin@unicomfab.com
ADMIN_PASSWORD=adminPass123!
JWT_SECRET=your_jwt_secret_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
DATABASE_URL=file:./server/db/unicom.db
